* {
  margin: 0;
}

body {
  background-color: rgb(104, 103, 103);
}

h1,
h4 {
  color: antiquewhite;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-top {
  width: 100%;
}

.app-right {
  width: 50%;
}

.app-left {
  width: 50%;
}

.app-bottom {
  width: 75%;
  border: 1px solid black;
}

.graph {
  width: 50%;
  height: 30px;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

.infoBox {
  margin: 5px;
}

.infoBox-total {
  font-size: 12px;
}

@media (max-width: 750px) {
  .app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
