.infoBox {
  display: flex;
  flex: 1;
  background-color: rgb(235, 236, 236);
  border-radius: 50px;
  justify-content: center;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

infoBox-title {
}

infoBox-cases {
}

infoBox-total {
}
